#main-box {
    color: gray;
    text-align: center;
    width: 80%;
    font: 12px 'Trebuchet MS';
}

h2 {
    color: blueviolet;
}

fieldset {
    border: 1px solid silver;
    border-radius: 15px;
    padding: 25px;
    padding-bottom: 35px;
    margin-bottom: 10px;
}

legend {
    text-align: left;
    font-style: italic;
    color: teal;
}

.group-box {
    display: inline-block;
    text-align: left;
}

input {
    padding: 5px;
    width: 150px;
}

button {
    width: 85px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 2px;
}

button:hover{
    color: white;
    background: gray;
    cursor: pointer;
}

table {
    width: 75%;
    margin: 10px auto;
}
th, td{
    padding: 5px;
}